<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>RNA BASE-PAIR-STEPS @ Rutgers</title>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/info.css"  />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>


<body>
<header class="group">
<h1 id="logo">
<a href="/"><img src="/media/img/logo.png" width="226" height="50" alt="RNA BPSDB"></a>
</h1>


<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/data">Data</a></li>
<li><a href="/search">Search</a></li>
<li><a href="/info">Info</a></li>
</ul>
</nav>
</header>

<hr/>


<aside>
<ul>
<li><a href="#about">About</a></li>
<li><a href="#news">News</a></li>
<li><a href="#credits">Credits</a></li>
<li><a href="#references">References</a></li>
</ul>
</aside>




<article>
<section>
<h2><span id="about">About</span></h2> 
<br/>
<p>
In the RNA base-pair steps database (RNASTEPS) you will find all steps found in
"so-called" intact helical regions of RNA. These intact helical regions come
about due to the capability of the 3DNA software package for distinguishing
both continuous and quasi-continuous helical regions of nucleic acids. What
is meant by continuous is that base-pairs stack in top of each other and
connect through an intact sugar-phosphate backbone, whereas in the
quasi-continuous case you will have stacked base-pairs whose sugar-phosphate
backbone will be broken at some point. One typical example of this situation is
the coaxial stacking of the anticodon and D stems of tRNA, which are identified
by 3DNA as a quasicontinuous helix. To better illustrate intact helical regions
of RNA they are shown in the following figure and denoted by <b>H</b>, along with other
possible helical contexts which are not included currently in RNASTEPS
but which will be developed in the future.<p>
<br/>
<div align=center>
<img src="/media/img/helcontext.png" alt="Helical Regions in RNA" width="480" />
</div>
<br/>
<p>
The data has been taken from the Protein Data Bank (PDB) for X-ray determined
structures whose resolution is of 3.5 Angstroms or better.
To better illustrate the order of a steps in our database in the following image
an RNA base-pair step is depicted using the Leontis-Westhof annotation convention
for nucleic acid base-pairs.
A circle  denotes a  Watson-Crick edge, a  square denotes  a Hoogsteen edge, and
a triangle denotes a Sugar edge. Open  polygons  mean  that  the  glycosidic
bonds  are  in  the  trans orientation and if there were filled polygons they
would mean the cis orientation.
</p>

<br/>
<div align=center>
<img src="/media/img/bpstep.png" alt="Base-Pair Step" width="280" />
</div>


{% load pagination_tags %}
{% load sorting_tags %}

<br/>
<p>
In the next table the full data of base-pair steps present
in helical regions of available X-ray crystallographic data from the
Protein Data Bank is provided.
</p>

<br/><br/>
    {% autosort bpstep_list %}
    {% autopaginate bpstep_list 15 %}

<div align=center>
    <table id="newspaper-b" summary="RNA Base-Step Parameters">
  <tr> 
     <th colspan="3">Sources</th>
     <th colspan="4">Bases</th>
     <th colspan="6">Leontis-Westhof</th>
  </tr> 
        <tr>
            <th>{% anchor step_ids.ndb_id "NDB ID" %}</th>
            <th>{% anchor step_ids.pdb_id "PDB ID" %}</th>
            <th>{% anchor step_ids.step_id "Step ID" %}</th>
            <th>{% anchor step_ids.residue3  "N3" %}</th>
            <th>{% anchor step_ids.residue1  "N1" %}</th>
            <th>{% anchor step_ids.residue2  "N2" %}</th>
            <th>{% anchor step_ids.residue4  "N4" %}</th>
            <th>{% anchor step_ids.edge3  "E3" %}</th>
            <th>{% anchor step_ids.edge1  "E1" %}</th>
            <th>{% anchor step_ids.edge2  "E2" %}</th>
            <th>{% anchor step_ids.edge4  "E4" %}</th>
            <th>{% anchor step_ids.gly_orie1  "Gly1" %}</th>
            <th>{% anchor step_ids.gly_orie2  "Gly2" %}</th>

        </tr>
        {% for step_ids in bpstep_list %}
        <tr>
            <td><a href="http://ndbserver.rutgers.edu/servlet/IDSearch.NDBSearch1?id={{step_ids.ndb_id}}">{{ step_ids.ndb_id }}</a></td>
            <td><a href="http://www.pdb.org/pdb/explore/explore.do?structureId={{step_ids.pdb_id}}">{{ step_ids.pdb_id }}</a></td>
	    <td>{{ step_ids.step_id  }}</td>
            <td>{{ step_ids.residue3 }}</td>
            <td>{{ step_ids.residue1 }}</td>
            <td>{{ step_ids.residue2 }}</td>
            <td>{{ step_ids.residue4 }}</td>
            <td>{{ step_ids.edge3 }}</td>
            <td>{{ step_ids.edge1 }}</td>
            <td>{{ step_ids.edge2 }}</td>
            <td>{{ step_ids.edge4 }}</td>
            <td>{{ step_ids.gly_orie1 }}</td>
            <td>{{ step_ids.gly_orie2 }}</td>
        </tr>
        {% endfor %}
    </table>
     {% paginate %}
</div>

<br/><br/>

<p>
As we develop the rnasteps database and website we'll add more functionalities and information.
For now  a simulated RNA  chain constructed using the  step parameters
and force constants served from
this django webframework using the Gaussian sampling methodology of Czapla et al. (JMB 2008 382:35 3-370).
</p>
<br/><br/>
<div align=center>
<video width="480" controls autobuffer>
  <source src="http://rnasteps.rutgers.edu/media/img/intrstrpolAC3G5.ogv"  ty\
pe='video/ogg; codecs="theora, vorbis"'>
</video>
</div>

<br/>
<hr/>

  </section>



<section>
<h2><span id="news">News</span></h2> 
<br/>
Thursday - October 20 2011
<pre>
Merged Step Parameters and Constants tab into a single search form called Data.
</pre>

<br/>
Wednesday - May 25 2011
<pre>
Improved html5 and css3 format for info page (info.css) complying with
the new aside, article, and section objects.
</pre>

<br/>
Tuesday - May 24 2011
<pre>
A new search box has been added and the organization of the site is
being updated.
</pre>

<br/>
Tuesday - May 17 2011
<pre>
Configuration and update of the full data for the 91 unique base-pair steps formed
from the seven predominant base-pairs is available RNA X-Ray data from the PDB/NDB.
The data are rendered in the <a href="#about">Info</a> page.

You can now grab  a copy of the step by step  process used for setting
up the django web framework which hosts this database at: <a href="/media/doc/django.pdf">django.pdf</a>
</pre>

<br/>
Wednesday - May 11 2011
<pre>
Searching by prefered groups of data example.
A prefered group, say, <a href="/tests">GC.GC</a>, can be displayed in a 
separate table.
This works as a practical example before adding full search capability of
Leontis-Westhof patterns and PDB and NDB id's.
</pre>

<br/>
Thursday - February 24 2011
<pre>
The RNASTEPS database is in active development. 
This is version 0.1.
Please make comments and suggestions by e-mail to the author and maintainer of 
the website whose e-mail address is at the bottom of all pages.
</pre>

<br/>
<br/>
<hr/>
</section>
<section>
<h2><span id="credits">Credits</span></h2>
<br/>
- rnasteps has been developed as a django web-framework by Mauricio Esguerra.
<br/>
- The relational database that does all the magic of integrating 3DNA,
rnaview,  and the  helical  region recognition  algorithms  is due  to
Yurong Xin.
<br/>
- The relevance of the rigid  block model for understanding RNA and in
general nucleic acids is due to Wilma K. Olson.
<br/>
- The 3DNA  software for computing rigid block  parameters for nucleic
acids is maintained and actively developed on a voluntary basis by Xiang-Yun Lu.

<br/>
<hr/>
</section>

<section>
<h2><span id="references">References</span></h2> 
<br/>
<ul>
<li>
Olson W.K., Esguerra M., Xin Y., Lu X.J., (2009) New information content in RNA base pairing deduced from quantitative analysis of high-resolution structures., Methods, 47, 177-186.
</li>
<br/>
<li>
Xin Y, Olson W.K. (2009) BPS: a database of RNA base-pair structures., Nucleic Acids Research, 37, D83-D88.
</li>
<br/>
<li>
Lu X-J. and Olson W.K. (2003) 3DNA: a software package for the analysis, rebuilding and visualization of three-dimensional nucleic acid structures, Nucleic Acids Research, 31(17), 5108-5121.
</li>
<br/>
<li>
Lu X-J. and Olson W.K. (2008) 3DNA: a versatile, integrated software system for the analysis, rebuilding and visualization of three dimensional nucleic-acid structures, Nature Protocols, 3(7) 1213-1227.
</li>
</ul>
</section>
<br/>
<br/>
<br/>
</article>









<!-- FOOTER SECTION -->
<footer>
<hr/>
<hr/>
<p>
&#169; 2011 Mauricio Esguerra @ Olson Lab
</p>

</footer>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2306840-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
