<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>RNABPS-DB | STEPS</title>
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/main.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    </head>

    <body>
    <header class="group">
        <h1 id="logo">
            <a href="http://rnasteps.rutgers.edu"><img src="/media/img/logo.png" width="226" height="51" alt="Mauricio Esguerra"/></a>
        </h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Steps</a></li>
                <li><a href="/forces">Constants</a></li>
                <li><a href="/bpsteps">Info</a></li>
                <li><a href="/news">News</a></li>
            </ul>
        </nav>
    </header>

{% load pagination_tags %}
{% load sorting_tags %}
<div align="center">
    <h1>RNA BASE-PAIR STEP PARAMETERS</h1>
</div>
    {% autosort step_list %}
    {% autopaginate step_list 10 %}

    <table id="newspaper-b" summary="RNA Base-Step Parameters">
        <tr>
            <th>{% anchor steps.stack_type "Stack Type" %}</th>
            <th>{% anchor steps.step_id "Step" %}</th>
            <th>{% anchor steps.count Count %}</th>
            <th>{% anchor steps.shift Shift %}</th>
            <th>{% anchor steps.slide Slide %}</th>
            <th>{% anchor steps.rise Rise %}</th>
            <th>{% anchor steps.tilt Tilt %}</th>
            <th>{% anchor steps.roll Roll %}</th>
            <th>{% anchor steps.twist Twist %}</th>
            <th>{% anchor steps.volume Volume %}</th>
            <th>{% anchor steps.rmsd RMSD %}</th>
        </tr>
        {% for steps in step_list %}
        <tr>
            <td>{{ steps.stack_type }}</td>
            <td><a href="/media/img/{{steps.step_id}}top.png">{{ steps.step_id }}</a></td>
            <td><a href="/media/img/{{steps.step_id}}.png">{{ steps.count }}</a></td>
            <td>{{ steps.shift|floatformat:2 }}</td>
            <td>{{ steps.slide|floatformat:2 }}</td>
            <td>{{ steps.rise|floatformat:2 }}</td>
            <td>{{ steps.tilt|floatformat:1 }}</td>
            <td>{{ steps.roll|floatformat:1 }}</td>
            <td>{{ steps.twist|floatformat:1 }}</td>
            <td>{{ steps.volume|floatformat:1 }}</td>
            <td>{{ steps.rmsd|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>
    <div align="center">
     {% paginate %}


    
    <form action="http://rnasteps.rutgers.edu/download-form1" method="get">
        <input type="submit" value="Download">
    </form>
    </div>



<!-- FOOTER SECTION -->
<footer>
    <hr/>
    <hr/>
    <p>
&#169; 2011 Mauricio Esguerra @ Olson Lab
    </p>
</footer>

</body>
</html>
