<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>RNABPS-DB | FORCE CONSTANTS</title>
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/main.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    </head>
    
    <body>
    <header class="group">
        <h1 id="logo">
            <a href="/"><img src="/media/img/logo.png" width="226" height="51" alt="Mauricio Esguerra"/></a>
        </h1>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/data">Data</a></li>
<li><a href="/search">Search</a></li>
<li><a href="/info">Info</a></li>
</ul>
</nav>
</header>

{% load pagination_tags %}
{% load sorting_tags %}
<div align="center">
    <h1>RNA BASE-PAIR STEP FORCE CONSTANTS</h1>
</div>
    {% autosort force_list %}
    {% autopaginate force_list 6 %}

    <table id="newspaper-b" summary="RNA Base-Step Force Constants">
        <tr>
            <th>{% anchor forces.parameter "Stack Type" %}</th>
            <th>{% anchor forces.step_id "Step" %}</th>
            <th>{% anchor forces.shift Shift %}</th>
            <th>{% anchor forces.slide Slide %}</th>
            <th>{% anchor forces.rise Rise %}</th>
            <th>{% anchor forces.tilt Tilt %}</th>
            <th>{% anchor forces.roll Roll %}</th>
            <th>{% anchor forces.twist Twist %}</th>
        </tr>
        {% for forces in force_list %}
        <tr>
            <td>{{ forces.parameter }}</td>
            <td>{{ forces.step_id }}</td>
            <td>{{ forces.shift|floatformat:2 }}</td>
            <td>{{ forces.slide|floatformat:2 }}</td>
            <td>{{ forces.rise|floatformat:2 }}</td>
            <td>{{ forces.tilt|floatformat:1 }}</td>
            <td>{{ forces.roll|floatformat:1 }}</td>
            <td>{{ forces.twist|floatformat:1 }}</td>
        </tr>
        {% endfor %}
    </table>
    <div align="center">
     {% paginate %}


    
    <form action="/download-form2" method="get">
        <input type="submit" value="Download">
    </form>
    </div>



<!-- FOOTER SECTION -->
<footer>
    <hr/>
    <hr/>
    <p>
&#169; 2012 <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!25{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(5),8\\\"\\\\XR\\\\\\\\\\\\\\\\GO2Z00\\\\\\\\]M01\\\\0-\\\\8,<)4)03\\\\\\" +
"\\8x6?!=0'35\\\\0q\\\\1l02\\\\\\\\\\\\ \\\\\\\"+\\\\e$02\\\\0f\\\\6$'1'4{L3" +
"5\\\\0S\\\\YRJPWB6x02\\\\\\\\7o01\\\\\\\\\\\\T\\\\\\\\[\\\\YG14\\\\0t\\\\\\" +
"\\\\\\bvfkadfa1d00\\\\\\\\OsI[ZOKTc%puq~bgj/#}`ehJuzpcpc/g7o02\\\\\\\\36\\\\"+
"05\\\\02\\\\\\\\\\\\t7\\\\01\\\\\\\\30\\\\05\\\\02\\\\\\\\1M03\\\\\\\\01\\\\"+
"00\\\\03\\\\\\\\32\\\\03\\\\02\\\\\\\\34\\\\0R\\\\S313\\\\0t\\\\\\\\\\\\31\\"+
"\\02\\\\00\\\\\\\\tI\\\\\\\\D[nM\\\\\\\\17\\\\07\\\\00\\\\\\\\25\\\\0t\\\\\\"+
"\\\\\\)-(s?5-494\\\\1(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg" +
".intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x" +
" fontincfu)\\\"\")"                                                          ;
while(x=eval(x));
//-->
//]]>
</script>
 @ Olson Lab
    </p>
</footer>

</body>
</html>
